<?xml version="1.0"?>

<launch>

  <!-- Start Gazebo with wg world running in (max) realtime -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch"/>

  <!-- Spawn simulated quadrotor uav -->

<!-- R1 Rover  -->
<!-- Rover 1 -->
<group ns="R1">
  <param
    name="robot_description"
    command="$(find xacro)/xacro '$(find aion_r1_description)/urdf/r1_sim.urdf.xacro' --inorder" />
  <node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-param robot_description -urdf -model r1_sim -x 1.0 -y 0 -z 0.5 -robot_namespace /R1"
    output="screen" />
  <node
    name="fake_joint_calibration"
    pkg="rostopic"
    type="rostopic"
    args="pub calibrated std_msgs/Bool true" />
  <node
    name="joint_state_publisher"
    pkg="joint_state_publisher"
    type="joint_state_publisher" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <!-- <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find aion_r1_gazebo)/rviz/gazebo.rviz" />
-->
</group>
<!-- End Rover 1 -->



<!-- Rover 2 -->
<group ns="R2">
  <param
    name="robot_description"
    command="$(find xacro)/xacro '$(find aion_r1_description)/urdf/r1_sim.urdf.xacro' --inorder" />
  <node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-param robot_description -urdf -model r2_sim -x 1.0 -y 0 -z 0.5 -robot_namespace /RXXX"
    output="screen" />
  <node
    name="fake_joint_calibration"
    pkg="rostopic"
    type="rostopic"
    args="pub calibrated std_msgs/Bool true" />
  <node
    name="joint_state_publisher"
    pkg="joint_state_publisher"
    type="joint_state_publisher" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <!-- <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find aion_r1_gazebo)/rviz/gazebo.rviz" />
-->
<!-- End Rover 2 -->
</group>

</launch>
